<template>
  <div class="preloader">
    <div class="preloader__bar"></div>
    <div class="preloader__bar"></div>
    <div class="preloader__bar"></div>
  </div>
</template>

<script>
export default {
  name: 'Preloader'
}
</script>

<style lang="sass">
  @import "../../variables/variables"
  @import "../../mixins/mixins"

  @keyframes preloader-pulse
    0%,
    100%
      opacity: .1
      transform: scale(1)

    50%
      transform: scale(1.2)
      opacity: 1

  .preloader
    display: flex
    align-items: center
    justify-content: center
    width: 20px
    height: 15px
    position: relative

  .preloader__bar
    position: absolute
    width: 4px
    height: 100%
    background-color: $main-color
    top: 0
    transition: all .7s ease-in-out
    animation: preloader-pulse 1.4s ease-in-out infinite

  .preloader__bar:nth-child(1)
    left: 0

  .preloader__bar:nth-child(2)
    left: 7px
    animation-delay: 0.2s
    animation-duration: 1.399s


  .preloader__bar:nth-child(3)
    left: 14px
    animation-delay: 0.4s
    animation-duration: 1.401s


</style>
