<template>
  <div>
    <div class="drop-card-item-price" :class="{'drop-card-item-price_discount': discount}" v-if="value">
      <div class="drop-card-item-price__value">{{formattedNumber(+value)}}</div>
      <div class="drop-card-item-price__value-old" v-if="discount && oldValue">{{formattedNumber(+oldValue)}}</div>
    </div>
  </div>
</template>

<script>
import format from 'format-number'

const formattedNumber = format({ integerSeparator: ' ' })

export default {
  name: 'DropCardPrice',
  props: {
    value: Number,
    oldValue: Number,
    discount: {type: Boolean, default: false}
  },
  methods: {
    formattedNumber: number => formattedNumber(number) + " ₽"
  }
}
</script>

<style lang="sass">
  @import '../../../variables/variables'
  @import '../../../mixins/mixins'

  .drop-card-item-price
    display: flex
    text-transform: uppercase
    line-height: 20px
    &_discount
      .drop-card-item-price__value
        color: $logo-color1

  .drop-card-item-price__value
    margin-right: 15px
    font-weight: 450
    font-size: 16px
    letter-spacing: 0.05em

  .drop-card-item-price__value-old
    font-size: 14px
    position: relative
    color: transparentize($main-color, 0.5)
    &:before
      content: ""
      position: absolute
      top: 55%
      left: 0
      right: 0
      height: 1px
      background-color: transparentize($main-color, 0.5)

</style>