<template>
  <div class="drop-card-section">
    <div class="drop-card-section__title">{{title}}</div>
    <div class="drop-card-list" v-if="items.length">
      <DropCardItem  v-for="(item, index) in items" :key="index" v-bind="item" />
    </div>
  </div>
</template>

<script>
import DropCardItem from "./DropCardItem";

export default {
  name: 'DropCardSection',
  components: {DropCardItem},
  props: {
    title: String,
    items: Array
  }
}
</script>

<style lang="sass">

</style>