<template>
  <div class="drop-card">
    <div class="drop-card-top">
      <div class="drop-card__title">{{ title }}</div>
      <button class="button-preset drop-card-clear-all" @click="clearList" v-if="clearList">
        <div class="drop-card-clear-all__text">Очистить список</div>
        <div class="drop-card-clear-all__icon">
          <svg width="10" height="13" viewBox="0 0 10 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M8.185 3.599h-.479v-.691A2.911 2.911 0 004.798 0 2.911 2.911 0 001.89 2.908v.69h-.478C.633 3.599 0 4.233 0 5.01v6.579C0 12.367.633 13 1.412 13h6.773c.778 0 1.411-.633 1.411-1.412V5.01c0-.778-.633-1.411-1.411-1.411zm-5.374-.691A1.99 1.99 0 014.798.92a1.99 1.99 0 011.987 1.987v.69H2.811v-.69zm5.865 8.68c0 .271-.22.491-.491.491H1.411c-.27 0-.49-.22-.49-.49V5.01c0-.27.22-.49.49-.49h.48v.645a.699.699 0 00-.244.529.704.704 0 101.407 0 .7.7 0 00-.243-.529V4.52h3.974v.646a.699.699 0 00-.243.529.704.704 0 101.408 0 .7.7 0 00-.244-.529V4.52h.479c.27 0 .49.22.49.491v6.579z"
                fill="#131313" fill-opacity=".4"/>
          </svg>
        </div>
      </button>
    </div>
    <div class="drop-card-view">
      <div class="drop-card-content">
        <div class="drop-card-list">
          <DropCardItem
              v-for="(item, index) in items"
              :key="index"
              v-bind="item"
              :show-quantity="showQuantity"
              :delete-item="deleteItem"
              :set-item="setItem"/>
        </div>
      </div>
    </div>
    <div class="drop-card-bottom" v-if="bottomText">
      <a :href="bottomLink" class="link-preset drop-card-bottom__link"
         :class="{'drop-card-bottom__link_purple': bottomStyle === 'purple'}">{{ bottomText }}</a>
    </div>
  </div>
</template>

<script>
import DropCardItem from "./DropCardItem";

export default {
  name: 'DropCard',
  components: {DropCardItem},
  props: {
    title: String,
    items: Array,
    bottomLink: String,
    bottomText: String,
    bottomStyle: String,
    clearList: Function,
    deleteItem: Function,
    setItem: Function,
    showQuantity: {type: Boolean, default: true}
  },
}
</script>

<style lang="sass">
@import "../../../variables/variables"
@import "../../../mixins/mixins"

.drop-card
  background-color: #fff
  position: absolute
  top: 100%
  right: -18px
  width: 550px
  height: 635px
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.08)
  border-top: solid 1px transparentize($main-color, 0.9)
  display: flex
  flex-direction: column
  color: $main-color

.drop-card-top
  padding: 30px 126px 30px 40px
  display: flex
  align-items: center
  justify-content: space-between
  border-bottom: solid 1px transparentize($main-color, 0.9)
  flex-shrink: 0
  overflow: hidden
  position: relative

  &:before
    content: ""
    position: absolute
    top: -60px
    left: 0
    right: 0
    height: 60px
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.03)

.drop-card__title
  font-weight: 450
  font-size: 18px
  line-height: 23px
  letter-spacing: 0.05em
  text-transform: uppercase

.drop-card-clear-all
  font-size: 12px
  line-height: 10px
  display: flex
  align-items: center
  text-transform: uppercase
  color: rgba(19, 19, 19, 0.4)

.drop-card-clear-all__icon
  width: 10px
  height: 13px
  margin-left: 10px

  svg
    width: 100%
    height: 100%

.drop-card-view
  flex-grow: 1
  overflow-x: hidden
  overflow-y: auto

.drop-card-list
  padding: 5px 125px 5px 0

.drop-card-bottom__link
  height: 80px
  display: flex
  align-items: center
  width: 100%
  justify-content: center
  color: #fff
  font-weight: 450
  font-size: 18px
  line-height: 23px
  letter-spacing: 0.05em
  text-transform: uppercase
  flex-shrink: 0
  background-color: transparentize($main-color, 0.05)
  transition: $default-transition
  &:hover
    background-color: $main-color

  &_purple
    background-color: $logo-color2

    &:hover
      background-color: $logo-color2-hover

+mq(wide-screen)
  .drop-card
    right: 0

</style>