<template>
  <div class="drop-card-item">
    <div class="drop-card-item-top">
      <div class="drop-card-item__section">{{ sectionName }}</div>
      <button class="button-preset drop-card-item__delete" type="button" v-if="deleteItem" @click="deleteItem(productId)">
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
              d="M11.396 1.813A.854.854 0 1010.187.604L6 4.791 1.813.604A.855.855 0 00.604 1.813L4.791 6 .604 10.187a.855.855 0 001.209 1.209L6 7.209l4.187 4.187a.855.855 0 101.209-1.209L7.209 6l4.187-4.187z"
              fill="#342733"/>
        </svg>
      </button>
    </div>
    <div class="drop-card-item-container">
      <div class="drop-card-item-img-container">
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
             :data-src="img"
             :alt="name"
             class="drop-card-item__img b-lazy animate">
      </div>
      <div class="drop-card-item-content">
        <div class="drop-card-item__title">{{ name }}</div>
        <DropCardPrice :discount="price.discount" :old-value="+price.oldValue" :value="+price.value"/>
      </div>
      <div class="drop-card-item-quantity" v-if="showQuantity">
        <Preloader v-if="loading"/>
        <NumericInput v-else
                      :value="quantity"
                      :min="1"
                      :max="maxQuantity"
                      size="28px"
                      align="center"
                      @input="quantityChangeHandler"
                      @change="quantityChangeHandler"/>
      </div>
    </div>
    <a :href="href" class="link-preset link-as-card drop-card-item__link" :title="name"></a>
  </div>
</template>

<script>
import DropCardPrice from "./DropCardPrice";
import NumericInput from 'vue-numeric-input'
import Preloader from "../Preloader";

export default {
  name: 'DropCardItem',
  data: () => ({
      loading: false
  }),
  components: {DropCardPrice, NumericInput, Preloader},
  props: {
    name: {type: String, required: true},
    href: String,
    quantity: {type: Number, default: 1},
    maxQuantity: {type: Number},
    productId: [String, Number],
    img: String,
    sectionName: String,
    price: Object,
    deleteItem: Function,
    setItem: Function,
    showQuantity: {type: Boolean, default: true}
  },
  mounted: () => bLazy.revalidate(),
  methods: {
    async quantityChangeHandler(newValue) {
      if (this.setItem) {
        this.loading = true;

        await this.setItem({productId: this.productId, quantity: newValue})

        this.loading = false;
      }
    }
  }
}
</script>

<style lang="sass">
  @import '../../../variables/variables'
  @import '../../../mixins/mixins'

  .drop-card-item
    padding: 16px 0 20px 40px
    border-bottom: 1px solid transparentize($main-color, 0.9)
    position: relative
    z-index: 0
    &:last-child
      border-bottom-color: transparent

  .drop-card-item-top
    display: flex
    justify-content: space-between
    margin-bottom: 16px
    padding-right: 8px

  .drop-card-item__section
    font-size: 14px
    line-height: 10px
    color: rgba(19, 19, 19, 0.4)

  .drop-card-item__delete
    width: 12px
    height: 12px
    margin-left: 10px
    position: relative
    z-index: 1
    transition: $default-transition
    opacity: .4
    svg
      width: 100%
      height: 100%

    &:hover
      opacity: 1

  .drop-card-item-container
    display: flex

  .drop-card-item-img-container
    background-color: $gray-color5
    min-height: 86px
    width: 62px
    display: flex
    margin-right: 20px
    flex-shrink: 0

  .drop-card-item__img
    width: auto
    height: auto
    max-width: 100%
    max-height: 100%
    display: block
    margin: auto

  .drop-card-item-content
    flex-grow: 1
    align-self: flex-end
    height: 100%

  .drop-card-item__title
    font-size: 16px
    line-height: 20px
    margin-bottom: 13px

  .drop-card-item-quantity
    flex-shrink: 0
    margin-left: 35px
    width: 28px
    position: relative
    z-index: 1
    display: flex
    align-items: center

  .drop-card-item-quantity .vue-numeric-input
    width: 28px
    height: 70px
    border-radius: 30px
    position: relative
    border: 1px solid transparentize($main-color, 0.8)
    padding: 26px 0

  .drop-card-item-quantity .vue-numeric-input .numeric-input
    width: 100%
    height: 16px
    font-weight: 600
    font-size: 14px
    line-height: 16px
    color: $main-color
    text-align: center
    padding: 0
    border: none
    outline: none
    pointer-events: none

  .drop-card-item-quantity .vue-numeric-input .btn
    width: 26px
    height: 26px
    position: absolute
    left: 0
    right: auto
    border-radius: 50%
    background-color: transparent
    border: none
    box-shadow: none
    cursor: pointer
    &:hover
      background-color: transparent

  .drop-card-item-quantity .vue-numeric-input .btn-increment
    top: 0
    bottom: auto

  .drop-card-item-quantity .vue-numeric-input .btn-increment .btn-icon:before,
  .drop-card-item-quantity .vue-numeric-input .btn-increment .btn-icon:after
    background-color: transparentize($main-color, 0.6)
    border-radius: 2px


  .drop-card-item-quantity .vue-numeric-input .btn-increment .btn-icon:before
    width: 10px
    height: 2px

  .drop-card-item-quantity .vue-numeric-input .btn-increment .btn-icon:after
    height: 10px
    width: 2px


  .drop-card-item-quantity .vue-numeric-input .btn-decrement
    bottom: 0
    top: auto

  .drop-card-item-quantity .vue-numeric-input .btn-decrement .btn-icon:before
    background-color: transparentize($main-color, 0.6)
    border-radius: 2px
    width: 6px
    height: 2px


</style>