<template>
  <div class="header-cart header-control"
       @mouseleave="mouseleaveHandler"
       @mouseenter="mouseenterHandler">
    <a :href="toCartLink" class="link-preset basket header-control__toggle">
      <svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M14.731 6.09h-.81V4.92A4.927 4.927 0 009 0a4.927 4.927 0 00-4.921 4.921V6.09h-.81a2.391 2.391 0 00-2.39 2.389V19.61A2.391 2.391 0 003.27 22H14.73a2.391 2.391 0 002.389-2.389V8.48a2.391 2.391 0 00-2.389-2.39zM5.637 4.92A3.367 3.367 0 019 1.558a3.367 3.367 0 013.363 3.363V6.09H5.637V4.92zm9.925 14.69c0 .459-.373.83-.83.83H3.268a.831.831 0 01-.83-.83V8.48c0-.458.372-.83.83-.83h.81V8.74c-.25.218-.412.536-.412.894a1.191 1.191 0 102.382 0c0-.358-.162-.676-.412-.894V7.648h6.726v1.093c-.25.218-.412.536-.412.894a1.191 1.191 0 102.382 0c0-.358-.162-.676-.412-.894V7.648h.81c.458 0 .83.373.83.83v11.133z"
              fill="#342733"/>
      </svg>
      <span class="header-control__count" v-if="totalCount" v-html="totalCount"></span>

    </a>
    <transition name="drop-card" appear v-if="show">
      <DropCard
          title="Корзина"
          bottomStyle="purple"
          :bottomText="bottomText"
          :bottomLink="toCartLink"
          :clear-list="clearList"
          :set-item="setItem"
          :delete-item="removeItem"
          :items="items"/>
    </transition>
  </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
import DropCard from '../DropCard/DropCard'

export default {
  name: 'Cart',
  components: {DropCard},
  data: () => ({
    show: false
  }),
  computed: {
    ...mapGetters('cart', {toCartLink: 'toCartLink', totalCount: 'totalCount', items: 'items', totalPriceFormat: 'totalPriceFormat'}),
    bottomText() {
      return `Оформить заказ: ${this.totalPriceFormat} ₽`
    }
  },
  mounted() {
    this.get()
  },
  methods: {
    ...mapActions('cart', {get: 'get', clearCartList: 'clearCartList', remove: 'remove', set: 'set'}),
    mouseenterHandler() {
      if (window.innerWidth >= 1366 && this.items.length > 0) {
        this.show = true
      }
    },

    mouseleaveHandler() {
      this.show = false
    },

    clearList() {
      this.clearCartList()
    },

    removeItem(productId) {
      this.remove(productId)
    },

    setItem({productId, quantity}) {
      this.set({productId, quantity});
    }
  }
}
</script>

<style lang="sass">
  @import "../../../variables/variables"
  @import "../../../mixins/mixins"

  .drop-card-enter-active, .drop-card-leave-active
    transition: opacity $default-transition

  .drop-card-enter, .drop-card-leave-to
    opacity: 0

</style>
