<template>
  <ul class="checkbox-list" v-if="values.length" :class="{'checkbox-list_2-cols': twoCols}">
    <li class="checkbox-list-item" v-for="checkbox in values">
      <CheckboxControl
          :key="checkbox.index"
          :multiple="multiple"
          :name="name"
          v-bind="checkbox"
      />
    </li>
  </ul>
</template>

<script>
import CheckboxControl from './CheckboxControl'

export default {
  name: 'CheckboxListControl',
  components: {CheckboxControl},
  props: {
    controlType: {type: String},
    values: {type: Array, default: () => []},
    name: {type: String},
    twoCols: {type: Boolean, default: false},
    multiple: {type: Boolean, default: false},
    index: [Number, String],
  },
}
</script>

<style lang="sass">
@import "../../../variables/variables"
@import "../../../mixins/mixins"

.checkbox-list
  +list-preset
  margin-top: -25px

.checkbox-list_2-cols
  display: flex
  flex-wrap: wrap
  margin-top: -25px

  .checkbox-list-item
    width: 100px
    padding-right: 10px

.checkbox-list-item
  margin-top: 25px

</style>
