<template>
  <label class="checkbox" :class="{ checkbox_disabled: disabled }">
    <input
        :type="multiple ? 'checkbox' : 'radio'"
        :checked="checked"
        :name="name"
        :value="value"
        :disabled="disabled"
        class="form-hidden checkbox__control"
        @change="onChange"
    />
    <span
        class="checkbox__marker"
        :class="{
				'checkbox__marker_no-multiple': !multiple,
			}"
    ></span>
    <span class="checkbox__text" v-html="label"></span>
    <span class="checkbox__count" v-if="+count"
    >({{ +count }})</span
    >
  </label>
</template>

<script>
import {mapActions, mapMutations} from 'vuex'
import bxProtocol from '../helpers/bxProtocol'

export default {
  name: 'CheckboxControl',
  mixins: [bxProtocol],
  props: {
    label: {type: String},
    disabled: {type: Boolean, default: false},
    name: {type: String},
    value: {type: [String, Number]},
    bxName: {type: String},
    multiple: {type: Boolean, default: true},
    checked: {type: Boolean, default: false},
    index: [Number, String],
    count: Number,
  },
  methods: {
    ...mapActions('filter', ['showFloatButton']),
    ...mapMutations('filter', ['setActiveFilterCount']),
    onChange(event) {
      this.bxClickControl(this.bxName)

      if (window.innerWidth >= 1366) {
        let el = event.target.parentElement

        this.showFloatButton({el: el, filter: this.$root.$el})
      }
    }
  }
}
</script>

<style lang="sass">
@import '../../../variables/variables'
@import '../../../mixins/mixins'

.checkbox
  position: relative
  display: inline-flex
  align-items: center
  cursor: pointer
  font-weight: 450
  font-size: 16px
  line-height: 18px
  letter-spacing: 0.05em
  color: transparentize($gray-color4, 0.3)

  &:not(&_disabled):hover
    .checkbox__text
      color: transparentize($gray-color4, 0.1)
      border-bottom-color: transparentize($gray-color4, 0.1)

.checkbox_disabled
  cursor: not-allowed

.checkbox_disabled .checkbox__marker
  border-color: transparentize($gray-color4, 0.7)

  &:after
    opacity: 1

.checkbox_disabled .checkbox__text
  color: transparentize($gray-color4, 0.7)

.checkbox__control:checked ~ .checkbox__marker
  border-color: $main-color

  &:before
    opacity: 1

.checkbox__control:checked ~ .checkbox__text
  color: transparentize($gray-color4, 0.1)
  border-bottom-color: transparentize($gray-color4, 0.1)

.checkbox__text
  transition: $default-transition
  border-bottom: 1px solid transparent

.checkbox__count
  margin-left: 5px

.checkbox__marker
  width: 16px
  height: 16px
  display: flex
  align-items: center
  justify-content: center
  margin-right: 15px
  border: 1px solid transparentize($main-color, 0.6)
  border-radius: 2px
  transition: $default-transition
  position: relative
  overflow: hidden

  &:before
    content: ""
    position: absolute
    top: 50%
    left: 50%
    margin-top: -3px
    margin-left: -3px
    width: 6px
    height: 6px
    background-color: $gray-color4
    opacity: 0
    transition: $default-transition
    border-radius: 50%

  &:after
    content: ""
    position: absolute
    top: 6px
    left: -3px
    height: 1px
    width: 20px
    transform: rotate(45deg)
    background-color: transparentize($gray-color4, 0.7)
    opacity: 0

.checkbox__marker_no-multiple
  width: 12px
  height: 12px
  border-radius: 50%
  margin-bottom: 2px
  border: 1px solid transparentize($main-color, 0.6)

</style>
