<template>
  <div class="filter-float-submit"
       :style="{'top': top + 'px', 'left': left + 'px'}"
       ref="submitContainer">
    <Preloader v-if="status === 'LOADING'"/>
    <button
        class="button-preset filter-float-submit__btn"
        v-else
        @click="bxClickSubmit"
    >
      Показать{{ +count ? `: ${count}` : '' }}
    </button>
  </div>
</template>

<script>
import {mapGetters} from "vuex";
import bxProtocol from '../helpers/bxProtocol'
import Preloader from "../Preloader";

export default {
  name: 'FilterFloatSubmit',
  mixins: [bxProtocol],
  components: {Preloader},
  props: {
    status: String
  },
  computed: {
    ...mapGetters('filter', {
      count: 'count', timer: 'floatButtonTimer', showFloatButton: 'showFloatButton', top: 'floatButtonTop', left: 'floatButtonLeft'
    }),
  },
}
</script>

<style lang="sass">
@import '../../../variables/variables'
@import '../../../mixins/mixins'

.filter-float-submit
  display: flex
  align-items: center
  justify-content: center

.filter-float-submit__btn
  color: #fff
  background-color: $main-color
  width: 100%
  height: 100%
  font-weight: 600
  font-size: 16px
  line-height: 20px
  letter-spacing: 0.05em
  text-transform: uppercase

+mq(desktop, max)
  .filter-float-submit
    width: 50%
    height: 100%

+mq(desktop)
  .filter-float-submit
    position: absolute
    top: 0
    left: 0
    margin-left: 18px
    transform: translateY(-50%)

  .filter-float-submit__btn
    font-size: 14px
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1)
    border-radius: 1px
    border: 1px solid transparentize($main-color, 0.9)
    padding: 12px 39px
    white-space: nowrap

    &:before
      content: ""
      position: absolute
      right: 100%
      top: 50%
      transform: translateY(-50%) scaleX(1.8) rotate(45deg)
      background-color: $main-color
      width: 9px
      margin-right: -5px
      height: 9px
      border-radius: 0px 0px 0px 3px

</style>