<template>
  <div class="filter-group">
    <div class="filter-group__label" v-if="label">{{ label }}</div>
    <div class="filter-group-inner" ref="filterGroupInner">
      <component
          v-bind:is="controlComponent(controlType)"
          v-bind="options"
          :values="values"
          :index="index"
          :name="name"
      />
    </div>
  </div>
</template>

<script>
import RangeControl from './RangeControl'
import CheckboxListControl from './CheckboxListControl.vue'
import {mapActions} from 'vuex'

const controlsTypes = [
  {
    name: 'range',
    component: RangeControl,
  },
  {
    name: 'checkboxList',
    component: CheckboxListControl,
  },
]

export default {
  name: 'FilterGroup',
  data: () => {
    return {
      controlsTypes: controlsTypes,
    }
  },
  props: {
    index: [Number, String],
    label: String,
    name: String,
    options: {type: Object, default: {}},
    values: {type: Array, default: []},
    controlType: {type: String, default: 'list'},
  },
  mounted() {
    /*new SimpleBar(this.$refs.filterGroupInner, {
      autoHide: false
    })*/
  },
  methods: {
    ...mapActions('filter', ['updateState']),
    controlComponent(needControlType) {
      let controlType = controlsTypes.filter((controlType) => {
        return controlType.name === needControlType
      })[0]

      return controlType.component
    },
  },
}
</script>

<style lang="sass">
@import '../../../variables/variables'
@import '../../../mixins/mixins'

.filter-group
  margin-bottom: 30px
  padding-bottom: 30px
  position: relative
  &:after
    content: ""
    position: absolute
    bottom: 0
    left: 10px
    right: 10px
    height: 1px
    background-color: transparentize($main-color, 0.85)

  &:last-child
    margin-bottom: 0
    &:after
      background-color: transparent
    .checkbox-list
      padding-bottom: 0

.filter-group__label
  font-weight: 450
  font-size: 16px
  line-height: 18px
  letter-spacing: 0.03em
  text-transform: uppercase
  padding-bottom: 30px
  color: transparentize($main-color, 0.4)

+mq(desktop)
  .filter-group
    max-height: 355px
    overflow: hidden
    display: flex
    flex-direction: column
    margin-left: -10px
    margin-right: -10px

  .filter-group__label
    padding: 0 10px 30px

  .filter-group-inner
    flex-grow: 1
    overflow-x: hidden
    padding: 0 10px

</style>
