<template>
  <div class="filter-footer">
    <div class="filter-buttons">
      <button
          class="button-preset filter-reset"
          type="reset"
          @click="bxClickReset"
      >
        <span class="filter-reset__text">Сбросить</span><span class="mobile-hide desktop-show"> фильтры</span>
      </button>
      <transition appear name="fade" :duration="300" v-if="showSubmit || showFloatButton">
        <FilterFloatSubmit :status="status"/>
      </transition>
    </div>
  </div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'
import bxProtocol from '../helpers/bxProtocol'
import FilterFloatSubmit from "./FilterFloatSubmit"

export default {
  name: 'FilterFooter',
  mixins: [bxProtocol],
  components: {FilterFloatSubmit},
  data: () => ({
    showSubmit: false
  }),
  props: {
    status: String
  },
  created() {
    this.windowResizeHandler()
    window.addEventListener("resize", this.windowResizeHandler)
  },
  destroyed() {
    window.removeEventListener("resize", this.windowResizeHandler);
  },
  computed: {
      ...mapGetters('filter', ['showFloatButton'])
  },
  methods: {
    windowResizeHandler() {
      this.showSubmit = window.innerWidth < 1366
    }
  },
}
</script>

<style lang="sass">
@import '../../../variables/variables'
@import '../../../mixins/mixins'

.filter-buttons
  display: flex
  justify-content: space-between
  align-items: center
  height: 100%

.filter-reset
  background-color: #C6C6C6
  color: transparentize($main-color, 0.5)
  width: 50%
  height: 100%
  font-weight: 600
  font-size: 16px
  line-height: 20px
  letter-spacing: 0.05em
  text-transform: uppercase

+mq(tablet)
  .filter-footer
    width: 376px
    left: auto

+mq(desktop, max)
  .filter-footer
    position: absolute
    bottom: 0
    left: 0
    right: 0
    height: 80px

+mq(desktop)
  .filter-footer
    width: 218px
    margin-top: 10px

  .filter-reset
    width: auto
    background-color: transparent
    color: transparentize($main-color, 0.2)
    font-weight: 450
    font-size: 16px
    line-height: 18px
    letter-spacing: 0.03em
    border-bottom: 1px solid transparentize($main-color, 0.2)
    transition: $default-transition
    text-transform: none
    display: inline-block

</style>
