<template>
  <div class="filter" id="filter-modal" ref="filter">
    <FilterTop v-if="showTop"/>
    <form class="filter-form" method="post" @submit.prevent="">
      <div class="filter-container">
        <div v-if="controls.length" class="filter-list">
          <Menu/>
          <FilterGroup
              v-for="control in controls"
              :key="control.index"
              v-bind="control"
          />
        </div>
      </div>
      <FilterFooter :status="status"/>
    </form>
  </div>
</template>

<script>
import {mapGetters, mapActions, mapMutations} from 'vuex'
import FilterGroup from './FilterGroup'
import FilterTop from './FilterTop'
import FilterFooter from './FilterFooter'
import Menu from "../Menu/Menu"

export default {
  name: 'FilterInstance',
  components: {FilterGroup, FilterTop, FilterFooter, Menu},
  data: () => ({
    status: 'LOADING',
    showTop: false
  }),
  created() {
    this.status = 'SUCCESS'

    this.setActiveFilterCount()

    this.windowResizeHandler()
    window.addEventListener("resize", this.windowResizeHandler)

    document.addEventListener('bx-filter:change-start', this.onFilterChangeStart)
    document.addEventListener('bx-filter:changed', this.onFilterChange)
  },
  computed: {
    ...mapGetters('filter', ['controls']),
  },
  methods: {
    ...mapActions('filter', ['updateState']),
    ...mapMutations('filter', ['setActiveFilterCount']),

    onFilterChangeStart(e) {
      this.status = 'LOADING'
    },

    onFilterChange(e, result) {
      this.updateState({
        controls: result.context.controls,
        count: result.context.count,
      })

      this.status = 'SUCCESS'
    },

    windowResizeHandler() {
      this.showTop = window.innerWidth < 1366
    }
  }
}
</script>

<style lang="sass">
@import '../../../variables/variables'
@import '../../../mixins/mixins'

.filter
  position: static
  padding: 0

.filter .fancybox-close-small
  display: none

.filter-list
  padding: 20px 117px 20px 25px

+mq(desktop, max)
  .filter
    display: none

  .filter-container
    background-color: #fff
    height: 100%
    overflow-x: hidden
    overflow-y: auto

  .filter-form
    position: absolute
    top: 80px
    bottom: 0px
    left: 0
    right: 0
    background-color: #fff
    padding-bottom: 80px

  .filter-list
    max-width: $wp1
    margin: 0 auto

  +mq(tablet)
    .filter
      width: 376px

    .filter-form
      left: auto
      width: 376px

    .filter-list
      padding: 40px 105px 40px 53px

+mq(desktop)
  .filter
    display: block !important
    width: auto
    position: relative

  .filter-form
    width: 218px

  .filter-list
    padding: 0

</style>
