<template>
  <div class="filter-top">
    <div class="filter-title">
      <span class="filter-title__text">Фильтры</span>
      <span class="filter-title__count" v-if="activeFilterCount">({{activeFilterCount}})</span>
      <span class="filter-title__icon">
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                  d="M20.317 3.362V.824c0-.455-.385-.824-.86-.824-.474 0-.859.369-.859.824v2.538c-.98.339-1.683 1.239-1.683 2.293 0 1.055.703 1.955 1.683 2.293V20.26c0 .455.385.823.86.823.474 0 .859-.368.859-.823V7.948C21.297 7.61 22 6.71 22 5.655c0-1.054-.703-1.954-1.683-2.293zm-.86 3.083c-.454 0-.823-.355-.823-.79 0-.435.37-.79.823-.79.455 0 .824.355.824.79 0 .435-.37.79-.823.79zM11.86 13.135V.824C11.86.369 11.474 0 11 0s-.86.369-.86.824v12.311c-.98.339-1.682 1.239-1.682 2.293 0 1.055.702 1.955 1.683 2.293v2.539c0 .455.384.823.859.823s.86-.368.86-.823V17.72c.98-.338 1.682-1.238 1.682-2.293 0-1.054-.702-1.954-1.683-2.293zM11 16.218c-.454 0-.824-.355-.824-.79 0-.435.37-.79.824-.79.454 0 .824.355.824.79 0 .435-.37.79-.824.79zM3.402 3.362V.824c0-.455-.385-.824-.86-.824-.474 0-.859.369-.859.824v2.538C.703 3.701 0 4.601 0 5.655 0 6.71.703 7.61 1.683 7.948V20.26c0 .455.385.823.86.823.474 0 .859-.368.859-.823V7.948c.98-.338 1.683-1.238 1.683-2.293 0-1.054-.703-1.954-1.683-2.293zm-.86 3.083c-.454 0-.823-.355-.823-.79 0-.435.37-.79.823-.79.455 0 .824.355.824.79 0 .435-.37.79-.824.79z"
                  fill="#342733" fill-opacity=".6"/>
            </svg>
          </span>
    </div>
    <button class="button-preset filter__close" data-fancybox-close type="button">
      <span class="filter__close-text">закрыть</span>
      <span class="filter__close-icon">
            <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path
                d="M10.446 1.662A.783.783 0 009.338.554L5.5 4.392 1.662.554A.783.783 0 00.554 1.662L4.392 5.5.554 9.338a.783.783 0 001.108 1.108L5.5 6.608l3.838 3.838a.783.783 0 001.108-1.108L6.608 5.5l3.838-3.838z"
                fill="#342733"/></svg>
          </span>
    </button>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
  name: 'FilterTop',
  computed: {
    ...mapGetters('filter', ['activeFilterCount'])
  }
}
</script>

<style lang="sass">
@import '../../../variables/variables'
@import '../../../mixins/mixins'

.filter-title
  font-weight: 450
  font-size: 16px
  line-height: 18px
  text-align: right
  letter-spacing: 0.03em
  text-transform: uppercase
  color: transparentize($main-color, 0.4)
  display: flex
  align-items: center

.filter-title__count
  margin-left: 5px

.filter-title__icon
  width: 23px
  height: 22px
  line-height: 0
  margin-left: 15px

  svg
    width: 100%
    height: 100%

.filter__close
  display: flex
  align-items: center
  font-weight: 450
  font-size: 16px
  line-height: 18px
  letter-spacing: 0.03em
  padding: 20px 0

.filter__close-text
  padding-bottom: 2px

.filter__close-icon
  width: 12px
  height: 12px
  line-height: 0
  margin-left: 10px
  svg
    width: 100%
    height: 100%

+mq(desktop, max)
  .filter-top
    position: absolute
    top: 0
    left: 0
    right: 0
    background-color: transparentize($gray-color3, 0.3)
    height: 80px
    display: flex
    justify-content: space-between
    align-items: center
    padding: 24px

    &:before
      content: ""
      +absoluteFluid()
      background-color: #fff
      z-index: -1

  +mq(tablet)
    .filter-top
      width: 376px
      left: auto

+mq(desktop)
  .filter-top
    display: none

</style>