<template>
  <div class="range">
    <div class="range-controls">
      <div class="range-item range-min" :class="{'range-item_filed': min.value}">
        <input
            type="text"
            class="range__control range__control_min"
            ref="minControl"
            :name="min.name"
            :value="min.value > 0 ? textFormat(min.value) : '0'"
            :placeholder="min.placeholder"
            @input="onMinInputHandler($event, min.bxName)"
            @change="onChangeHandler($event, min.bxName)"
        />
        <div class="range__placeholder range__placeholder_left">от</div>
        <div
            class="range__placeholder range__placeholder_right"
            v-html="measurement"
            v-if="measurement"
        ></div>
      </div>
      <div class="range-item range-max" :class="{'range-item_filed': max.value}">
        <input
            type="text"
            class="range__control range__control_max"
            ref="maxControl"
            :name="max.name"
            :value="max.value > 0 ? textFormat(max.value) : ''"
            :placeholder="max.placeholder"
            @input="onMaxInputHandler($event, max.bxName)"
            @change="onChangeHandler($event, max.bxName)"
        />
        <div class="range__placeholder range__placeholder_left">до</div>
        <div
            class="range__placeholder range__placeholder_right"
            v-html="measurement"
            v-if="measurement"
        ></div>
      </div>
    </div>
    <div class="range-slider" v-if="showRangeSlider">
      <vue-slider
          :min="min.placeholder"
          :max="max.placeholder"
          :silent="true"
          :duration="0.2"
          :tooltip="'none'"
          :useKeyboard="false"
          :height="5"
          :dot-size="14"
          :value="min.value"
          @change="onRangeChangeHandler"
      />
    </div>
    <div class="range-sale" v-if="withSale">
      <CheckboxControl
          name="price_sale"
          :bxName="bxNameForSale"
          label="Цена со скидкой"/>
    </div>
  </div>
</template>

<script>
import VueSlider from 'vue-slider-component'
import bxProtocol from '../helpers/bxProtocol'
import CheckboxControl from "./CheckboxControl";
import {mapActions, mapMutations} from "vuex";

export default {
  name: 'RangeControl',
  mixins: [bxProtocol],
  components: {
    VueSlider,
    CheckboxControl
  },
  data: () => ({
    windowWidth: window.innerWidth,
  }),
  props: {
    controlType: {type: String},
    index: [Number, String],
    label: {type: String},
    values: {type: Array, default: []},
    measurement: {type: String},
    withSale: {type: Boolean, default: false},
    bxNameForSale: {type: String}
  },
  computed: {
    max() {
      return this.values.find((value) => value.type === 'max')
    },
    min() {
      return this.values.find((value) => value.type === 'min')
    },
    showRangeSlider() {
      let min = this.min,
          max = this.max

      return min.placeholder && max.placeholder
    }
  },
  methods: {
    ...mapActions('filter', ['showFloatButton']),
    ...mapMutations('filter', ['setActiveFilterCount']),

    onRangeChangeHandler(value) {
      this.$refs.minControl.value = value

      this.$refs.minControl.dispatchEvent(new Event('input'))
    },

    onMinInputHandler(e, bxName) {
      this.min.value = +this.$refs.minControl.value.toString().replace(/ /g,'') || 0

      this.inputHandler(e, bxName)
    },

    onMaxInputHandler(e, bxName) {
      this.max.value = +this.$refs.maxControl.value.toString().replace(/ /g,'') || 0

      this.inputHandler(e, bxName)
    },

    inputHandler(e, bxName) {
      const changeValue = this.onChangeHandler;

      clearTimeout(this.timeout)

      this.timeout = setTimeout(() => {
        changeValue(e, bxName)
      }, 1000)
    },

    onChangeHandler(e, bxName) {
      let value = e.target.value > 0 ? this.textFormat(e.target.value) : 0

      this.bxChangeInput(bxName, value)

      if (window.innerWidth >= 1366) {
        let el = e.target.closest('.range-controls')

        this.showFloatButton({el: el, filter: this.$root.$el})
      }
    },

    textFormat(number) {
      return number
          .toString()
          .replace(/(?!^)(?=(?:\d{3})+(?:\.|$))/gm, ' ')
    },
  },
}
</script>

<style lang="sass">
@import '../../../variables/variables'
@import '../../../mixins/mixins'

.range-controls
  position: relative
  display: flex
  justify-content: space-between
  width: 100%
  border: 1px solid transparentize($gray-color, 0.2)

.range-item
  width: 50%
  position: relative
  z-index: 0

.range-min
  &:after
    content: ""
    position: absolute
    top: 4px
    bottom: 4px
    left: 100%
    width: 1px
    background-color: $gray-color

.range__control
  outline: none
  background-color: transparent
  border: none
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.02)
  border-radius: 1px
  width: 100%
  height: 36px
  padding-right: 9px
  padding-left: 40px
  font-family: $default-font
  color: transparentize($main-color, 0.2)
  font-weight: 450
  font-size: 16px
  line-height: 18px
  position: relative
  z-index: 1
  +input-placeholder
    color: transparentize($main-color, 0.5)

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button
    -webkit-appearance: none
    margin: 0

.range__placeholder
  position: absolute
  top: 0
  left: 0
  padding: 9px 9px 9px 20px
  width: 100%
  height: 100%
  font-weight: 450
  font-size: 16px
  line-height: 18px
  color: transparentize($main-color, 0.5)

.range-sale
  margin-top: 18px

.range-slider
  margin-top: 15px

  .vue-slider-rail
    background: rgba(27, 27, 27, 0.1)
    border-radius: 3px

  .vue-slider-dot
    border-radius: 50%
    background: $main-color
    cursor: pointer

  .vue-slider-process
    border-radius: 3px
    background: #969696
    cursor: pointer

</style>
