<template>
  <div class="search-container">
    <button class="button-preset search__toggle header-control__toggle" type="button" @click="toggleClickHandler">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M22.73 21.438l-5.288-5.29a9.238 9.238 0 002.1-5.877 9.271 9.271 0 00-18.543 0 9.271 9.271 0 009.272 9.272 9.223 9.223 0 005.873-2.097l5.29 5.285a.916.916 0 101.297-1.293zm-12.459-3.74c-4.099 0-7.43-3.332-7.43-7.427 0-4.094 3.331-7.43 7.43-7.43 4.095 0 7.431 3.336 7.431 7.43 0 4.095-3.336 7.427-7.43 7.427z"
            fill="#342733" stroke="#342733" stroke-width=".1"/>
      </svg>
    </button>
    <transition name="fade"
                v-if="show && !searchPage"
                appear>
      <div class="search-overlay" @click="resetClickHandler"></div>
    </transition>
    <transition name="search"
                v-if="show || searchPage"
                appear>
      <form :action="action"
            class="search">
        <div class="search-inner-container">
          <button class="button-preset search__submit"
                  type="submit"
                  value="Найти">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                  d="M18.78 17.722l-4.328-4.328A7.588 7.588 0 008.586 1a7.586 7.586 0 100 15.171 7.545 7.545 0 004.805-1.715l4.327 4.324a.75.75 0 101.062-1.058zm-10.194-3.06a6.084 6.084 0 01-6.08-6.076c0-3.35 2.726-6.08 6.08-6.08a6.09 6.09 0 016.08 6.08c0 3.35-2.73 6.076-6.08 6.076z"
                  fill="#342733" stroke="#342733" stroke-width=".1"/>
            </svg>
          </button>
          <input class="search__input"
                 type="text"
                 name="q"
                 :placeholder="$t('placeholder')"
                 size="20"
                 maxlength="50"
                 autocomplete="off"
                 v-model="q"
                 @input="onInputHandler"
                 @focus="onFocusHandler"
                 @blur="onBlurHandler">
          <button class="button-preset search__reset" type="button" @click="resetClickHandler">
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                  d="M17.094 2.72A1.282 1.282 0 1015.28.905L9 7.187 2.72.907A1.282 1.282 0 00.905 2.718L7.187 9l-6.28 6.28a1.282 1.282 0 001.812 1.814L9 10.813l6.28 6.28a1.282 1.282 0 001.814-1.812L10.813 9l6.28-6.28z"
                  fill="#342733"/>
            </svg>
          </button>
        </div>
        <transition v-if="needShowResults && !searchPage"
                    name="search-results">
          <SearchResults
              :all-items-href="allResultHref"
              :sections="sections"
              :items="items"/>
        </transition>
      </form>
    </transition>
  </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
import SearchResults from './SearchResults'

export default {
  name: 'Search',
  components: {SearchResults},
  props: {
    action: {type: String, default: '/catalog/'},
    url: {type: String, default: ''},
    searchPage: {type: Boolean}
  },
  data: () => {
    return {
      focused: false,
      q: '',
      timeoutId: null,
      focusTimeoutId: null,
      show: false
    }
  },
  computed: {
    ...mapGetters('search', {items: 'items', sections: 'sections'}),
    needShowResults() {
      return this.focused && !!this.q.length && !!this.items.length
    },
    allResultHref() {
      return `${this.action}?q=${this.q}`
    }
  },
  methods: {
    ...mapActions('search', {search: 'search'}),
    onInputHandler() {
      this.timeoutId !== null && clearTimeout(this.timeoutId)

      this.timeoutId = setTimeout(async () => {
        await this.search({url: this.url, q: this.q})
        this.$nextTick(() => {
          window.bLazy && window.bLazy.revalidate()
        })
      }, 300)
    },

    onFocusHandler() {
      if (this.focusTimeoutId) {
        clearTimeout(this.focusTimeoutId)
      }

      this.focused = true
    },

    onBlurHandler() {
      this.focusTimeoutId = setTimeout(() => {
        this.focused = false
      }, 100)
    },

    toggleClickHandler() {
      this.show = !this.show;

      if (this.show) {
        document.querySelector('.page').classList.add('page_search-open')
      } else {
        document.querySelector('.page').classList.remove('page_search-open')
      }
    },

    resetClickHandler() {
      this.show = false

      document.querySelector('.page').classList.remove('page_search-open')
    }
  }
}
</script>

<style lang="sass">
@import "../../../variables/variables"
@import "../../../mixins/mixins"
.search
  position: fixed
  background: $light-gray-color
  top: 78px
  left: 0
  right: 0
  z-index: 101
  height: 68px
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.03)

.search-overlay
  position: fixed
  top: 78px
  left: 0
  right: 0
  bottom: 0
  background: rgba(9, 8, 12, 0.35)
  cursor: pointer

.search-enter-active, .search-leave-active
  transition: all $default-transition

.search-enter, .search-leave-to
  opacity: 0
  transform: translateY(20px)

.search__input
  width: 100%
  height: 100%
  padding: 22px 50px 23px
  background-color: transparent
  border: none
  outline: none
  font-family: $default-font
  color: $main-color
  font-size: 16px
  line-height: 21px
  +input-placeholder
    color: transparentize($main-color, 0.4)

.search__submit
  position: absolute
  height: 100%
  top: 0
  bottom: 0
  left: 0
  width: 50px
  line-height: 0
  padding: 10px
  text-align: right

  svg
    width: 16px
    height: 16px

.search__reset
  position: absolute
  height: 100%
  right: 0
  top: 0
  bottom: 0
  width: 50px
  padding: 10px
  line-height: 0
  text-align: left

  svg
    width: 16px
    height: 16px

+mq(tablet)
  .search__input
    padding-left: 70px
    padding-right: 70px
    font-size: 18px
    line-height: 23px

  .search__submit
    width: 70px
    padding: 20px

    svg
      width: 18px
      height: 18px

  .search__reset
    width: 70px
    padding: 20px

    svg
      width: 18px
      height: 18px

+mq(desktop)
  .search
    top: 166px

  .search-overlay
    top: 166px

  .search-container
    height: 100%

  .search-inner-container
    position: relative
    max-width: $wp3
    margin: 0 auto

  .search__input
    padding-left: 110px
    padding-right: 110px

  .search__submit
    width: 110px

  .search__reset
    width: 110px

+mq(wide-screen)
  .search-inner-container
    max-width: $wp4

  .search__input
    padding-left: 162px
    padding-right: 162px

  .search__submit
    width: 162px

  .search__reset
    width: 162px

</style>
