<template>
  <div class="search-results">
    <div class="search-results-wrapper">
      <div class="search-sections" v-if="sections">
        <SearchSection v-for="(section, index) in sections"
                       v-bind="section"
                       :items="items"
                       :key="index"/>
      </div>
      <div class="search-results-list" v-else>
        <SearchResult v-for="(item, index) in items"
                      v-bind="item"
                      :key="index"/>
      </div>
    </div>
  </div>
</template>

<script>
import SearchSection from "./SearchSection";
import SearchResult from "./SearchResult";

export default {
  name: 'SearchResults',
  components: {SearchResult, SearchSection},
  props: {
    allItemsHref: String,
    items: Array,
    sections: Array
  },
  mounted() {

    setTimeout(function () {
      /*$('.search-results').nanoScroller()*/
    }, 500)
  },
  watch: {
    items: function () {
      /*$('.search-results').nanoScroller({ destroy: true })
      $('.search-results').nanoScroller()*/
    }
  }
}
</script>

<style lang="sass">
@import "../../../variables/variables"
@import "../../../mixins/mixins"

.search-results
  background: #ffffff
  top: 68px
  left: 0
  right: 0
  position: absolute
  height: calc(100vh - 146px)
  width: 100%
  overflow: hidden

.search-results-enter-active, .search-results-leave-active
  transition: all $default-transition

.search-results-enter, .search-results-leave-to
  opacity: 0

.search-results-wrapper
  height: 100%
  overflow-x: hidden
  overflow-y: auto
  padding: 30px $co1

.search-results-list
  padding-bottom: 40px

+mq(tablet)
  .search-results
    max-width: $wp2
    margin: 0 auto
    width: 100%

  .search-results-list
    padding-bottom: 35px

  .search-results-wrapper
    padding: 30px $co2

+mq(desktop)
  .search-results
    max-width: 1224px
    height: 532px

  .search-results-wrapper
    padding: 40px 0

  .search-results-list
    padding: 0

+mq(wide-screen)
  .search-results
    max-width: 1672px
    height: 532px


</style>
