<template>
  <div class="search-section">
    <div class="search-section__title">{{title}}</div>
    <div class="search-results-list">
      <SearchResult v-for="(item, index) in items"
                    v-bind="item"
                    :key="index"/>
    </div>
  </div>
</template>

<script>
import SearchResult from "./SearchResult";

export default {
  name: 'SearchSection',
  components: {SearchResult},
  props: {
    index: [String, Number],
    title: String,
    items: Array
  }
}
</script>

<style lang="sass">
@import "../../../variables/variables"
@import "../../../mixins/mixins"

.search-section__title
  font-weight: 600
  font-size: 14px
  line-height: 12px
  letter-spacing: 0.05em
  text-transform: uppercase
  color: transparentize($main-color, 0.1)
  padding-bottom: 30px
  border-bottom: 1px solid transparentize($main-color, 0.85)
  margin-bottom: 10px

+mq(tablet)
  .search-section__title
    margin-bottom: 20px

+mq(desktop)
  .search-section__title
    padding-left: 39px
    padding-right: 39px

</style>