<template>
  <a class="link-preset search-result" :href="href">
    <div class="search-result-img-container">
      <img class="search-result__img"
           :src="image"
           :alt="text"/>
    </div>
    <div class="search-result-content">
      <div class="search-result__title"
           v-html="text"></div>
      <div class="search-result-price">
        <div class="search-result-price__value"
             :class="{'search-result-price__value_discount': price['discount']}"
             v-html="price['showWithoutIcon']"></div>
        <div class="search-result-price__old-value"
             v-if="price['discount']"
             v-html="price['showOldWithoutIcon']"></div>
      </div>
    </div>
  </a>
</template>

<script>
export default {
  name: 'SearchResult',
  props: {
    "href": String,
    "section": [String, Number],
    "text": String,
    "price": Object,
    "image": String
  },
}
</script>

<style lang="sass">
@import "../../../variables/variables"
@import "../../../mixins/mixins"

.search-result
  margin: 15px 0
  align-items: center
  display: flex
  font-size: 15px
  line-height: 20px
  letter-spacing: 0.05em

.search-result-img-container
  display: flex
  flex-shrink: 0
  height: 86px
  width: 62px
  background-color: $gray-color5

.search-result__img
  max-height: 100%
  max-width: 100%
  object-fit: contain

.search-result-content
  flex-grow: 1
  margin-left: 18px

.search-result__text
  margin-bottom: 10px

.search-result-price
  align-items: center
  display: flex
  line-height: 20px

.search-result-price__value
  margin-right: 17px
  font-weight: 450
  font-size: 16px
  &_discount
    color: $logo-color1

.search-result-price__old-value
  font-size: 14px
  color: transparentize($main-color, 0.5)
  position: relative
  &:before
    content: ""
    position: absolute
    top: 60%
    left: 0
    right: 0
    height: 1px
    background-color: transparentize($main-color, 0.5)


+mq(tablet)
  .search-result
    margin-top: 10px
    margin-bottom: 15px

  .search-result-content
    margin-left: 25px
    display: flex
    align-items: center

  .search-result__title
    flex-grow: 1
    font-size: 17px
    line-height: 22px

  .search-result-price
    display: flex
    align-items: center
    flex-shrink: 0
    margin-left: 40px
    min-width: 110px

  .search-result-price__value
    margin-right: 15px

+mq(desktop)
  .search-result
    padding: 25px 39px
    transition: $default-transition
    &:hover
      background: rgba(245, 244, 245, 0.8)

  .search-result__image-wrapper
    height: 134px
    width: 97px

  .search-result__title
    margin-left: 24px
    font-size: 18px
    line-height: 22px
    max-width: 582px

  .search-result-price
    margin-left: 27px

  .search-result-price__value
    margin-right: 46px
</style>